.rodape {
    background-color: var(--preto);
    color: var(--branco);
    text-align: center;
    position: fixed;
    bottom: 0px;
    width: 100%;
}

.rodape h2 {
    font-weight: 100;
    font-size: 16px;
}