.container section {
    text-align: center;
    padding: 50px 200px;
}

@media screen and (max-width: 767px) {
    .container section {
        display: flex;
        flex-direction: column;
        margin: 0px;
        align-items: center;
        padding: 0px;

    }
}