.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 10vw;
}

@media screen and (max-width: 767px) {
    .container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 0px 0px;
    }

}