.container {
    padding: 0 0 1em 0;
    margin-top: 0.5em;
    width: 300px;
    background-color: var(--gray);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 10px;
    border-radius: 3px;
    overflow: hidden;
    font-family: 'Lilita One', cursive;
}

.capa {
    width: 101%;
    height: 300px;
    border-radius: 5px;
    right: 2px;
    position: relative;
}

.container h2,
.favorite {
    padding: 0 1em;
}

.favorite {
    width: 25px;
}

.link {
    text-decoration: none;
    color: black;
}