.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px 200px 20px 200px;
}

@media screen and (max-width: 767px) {
    .container {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        padding: 0px 0px;

    }

}