.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--preto);
    padding: 0px 20px;
}

.imgLink {
    width: 120px;
}



@media screen and (max-width: 480px) {
    .cabecalho {
        flex-direction: column;
        padding: 0;
    }
}